 
<div class="wrapper">
    <nav id="sidebar">
        <div class="sidebar-header">
            <img src="../../../../assets/imgs/CIB_4.png" class="menu-logo"/>
        </div>
        <ul class="list-unstyled components">
            <li>
                <a href="dashboard">Inicio</a>
            </li>
            <li>
                <a href="dashboard">Mis asistencias</a>
            </li>
            <li>
                <a href="companias">Companias</a>
            </li>
            <li>
                <a href="users">Usuarios</a>
            </li>
            <li>
                <a href="carros">Carros</a>
            </li>
            <li>
                <a href="#">Herramientas</a>
            </li>
            <li>
                <a href="#">Actos de servicio</a>
            </li>
            <li>
                <a (click)="logout()" href="#">Cerrar sesión</a>
            </li>
        </ul>
    </nav>
</div>
