 
<div class="wrapper">
    <nav id="sidebar">
        <div class="sidebar-header">
            <img src="../../../../assets/imgs/CIB_4.png" class="menu-logo"/>
        </div>
        <ul class="list-unstyled components">
            <li>
                <a href="#homeSubmenu">Inicio</a>
            </li>
            <li>
                <a href="#">Companias</a>
            </li>
            <li>
                <a href="#pageSubmenu">Usuarios</a>
            </li>
            <li>
                <a href="#">Carros</a>
            </li>
            <li>
                <a href="#">Herramientas</a>
            </li>
            <li>
                <a href="#">Actos de servicio</a>
            </li>
            <li>
                <a href="#">Cerrar sesión</a>
            </li>
        </ul>
    </nav>
</div>
