<div class="container-fluid">
    <div class="row">
        <div *ngIf="showMenu" class="col-2">
            <app-sidebar></app-sidebar>
        </div>
        <div class="col">
            <div class="container-fluid">
                <div class="navbar navbar-expand-lg header">
                    <div class="firstHeader">
                        <div id="content">
                            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                                <div>
                                    <button (click)="esconderMenu()" type="button" id="sidebarCollapse" class="btn btn-custom">
                                        <img class="toggle-menu" src="../../../../assets/imgs/toggle-menu.svg"/>
                                    </button>
                                </div>
                            </nav>
                        </div>
                    </div>
                    <h3>Bienvenid@, {{actualUser.nombre + ' ' + actualUser.apellido_paterno + ' ' + actualUser.apellido_materno}}</h3>
                </div>

                <div>
                    <button type="button" class="btn btn-primary create-object" (click)="open(content)">Crear compañía</button>
                </div>
                
                <ng-template #content let-modal>
                    <div class="modal-header">
                      <h4 class="modal-title" id="modal-basic-title">Creación compañía</h4>
                      <button type="button" class="close" aria-label="Close" (click)="onCancel()">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <form [formGroup]="companiaForm">
                        <div class="form-group">
                            <label for="nombreInput">Nombre</label>
                            <input type="text" class="form-control" id="nombreInput" placeholder="Ingrese nombre" formControlName="nombre">
                            <div *ngIf="this.companiaForm.get('nombre')?.touched && !this.companiaForm.get('nombre')?.valid" class="alert alert-danger" role="alert">
                              Por favor ingrese un nombre válido.
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="ubicacionInput">Ubicación</label>
                            <input type="text" class="form-control" id="ubicacionInput" placeholder="Ingrese ubicación" formControlName="ubicacion">
                            <div *ngIf="this.companiaForm.get('ubicacion')?.touched && !this.companiaForm.get('ubicacion')?.valid" class="alert alert-danger" role="alert">
                              Por favor ingrese una ubicación válida.
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="telefonoInput">Teléfono</label>
                            <input type="text" class="form-control" id="telefonoInput" placeholder="Ingrese teléfono" formControlName="telefono">
                            <div *ngIf="this.companiaForm.get('telefono')?.touched && !this.companiaForm.get('telefono')?.valid" class="alert alert-danger" role="alert">
                              Por favor ingrese un teléfono válido.
                            </div>
                        </div>
                        <div *ngIf="errorFormulario" class="alert alert-danger alert-dismissible fade show" role="alert">
                            El formulario contiene errores, revise los datos ingresados.
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closeModalErrorAlert()">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-outline-danger" (click)="onCancel()">Cancelar</button>
                          <button type="submit" class="btn btn-outline-dark" (click)="onSubmit()">Crear compañía</button>
                        </div>
                      </form>
                    </div>
                  </ng-template>

                <div *ngIf="isLoading" class="align-items-center">
                    <div>
                        <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
                    </div>
                </div>

                <div *ngIf="mostrarExito" class="alert alert-success alert-dismissible fade show" role="alert">
                    Compañía creada correctamente.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closeSuccessAlert()">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                <div *ngIf="mostrarFail" class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{errorMsg}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closeErrorAlert()">
                      <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div *ngIf="!isLoading" class="table-responsive-sm">
                    <table class="table table-striped table-bordered">
                        <thead>
                          <tr>
                            <th *ngIf="this.actualUser.rol == 3" scope="col">Acciones</th>
                            <th scope="col">Numero</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Ubicación</th>
                            <th scope="col">Teléfono</th>
                            <th scope="col">Activo</th>
                          </tr>
                        </thead>
                        <tbody *ngIf="listCompanias">
                          <tr *ngFor="let compania of listCompanias">
                            <td *ngIf="this.actualUser.rol == 3">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                </svg>
                            </td>
                            <td>{{compania.numero}}</td>
                            <td>{{compania.nombre}}</td>
                            <td>{{compania.ubicacion}}</td>
                            <td>{{compania.telefono}}</td>
                            <td>
                                <svg *ngIf="compania.activo" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                                </svg>
                                <svg *ngIf="!compania.activo" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
                                  </svg>
                            </td>
                          </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

    

